<div class="container" style="margin-top: 3em">
  <ngx-spinner
    [fullScreen]="true"
    bdColor="rgba(0, 0, 0, 0.8)"
    color="#fff"
    size="medium"
    type="ball-atom"
    ><p style="color: white">Loading...</p></ngx-spinner
  >
  <div class="row">
    <div class="col">
      <div>
        <form>
          <div class="form-group">
            <label style="font-size: 28px">Give your code a nice title</label>
            <input
              [formControl]="titleControl"
              class="form-control"
              type="text"
            />
            <div *ngIf="submitted && titleControl.errors" class="text-danger">
              <div *ngIf="titleControl.errors.required">Title is required</div>
              <div *ngIf="titleControl.errors.maxlength">
                Title must not exceed 100 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <tag-input
              [(ngModel)]="tagItems"
              [maxItems]="100"
              [ngModelOptions]="{ standalone: true }"
              id="codeTags"
              theme="bootstrap"
            ></tag-input>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="row"
    style="background: var(--light); border-radius: 25px; padding: 15px"
  >
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col col-4">
              <input
                (keyup)="filenameChanged()"
                [formControl]="filenameControl"
                class="col-10"
                placeholder="Filename including extension..."
                style="font-family: monospace"
                type="text"
              />
              <div
                *ngIf="submitted && filenameControl.errors"
                class="text-danger"
              >
                <div *ngIf="filenameControl.errors.required">
                  Filename is required
                </div>
                <div *ngIf="filenameControl.errors.maxlength">
                  Filename must not exceed 100 characters
                </div>
                <div *ngIf="filenameControl.errors.pattern">
                  Filename is invalid
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" id="codemirror-col">
          <ngx-codemirror
            [(ngModel)]="codeEditorContent"
            [options]="{
              lineNumbers: true,
              theme: 'material',
              mode: codeEditorLanguage
            }"
          ></ngx-codemirror>
          <div
            *ngIf="
              submitted &&
              (codeEditorContent.length == 0 ||
                codeEditorContent.length >
                  ((maxCodeLengthByQuota | async) ?? 1e6))
            "
            class="text-danger"
          >
            <div *ngIf="codeEditorContent.length == 0">Code is required</div>
            <!-- TODO: fix this mess with 1e6 -->
            <div
              *ngIf="
                codeEditorContent.length >
                ((maxCodeLengthByQuota | async) ?? 1e6)
              "
            >
              Code must contain less than
              {{ maxCodeLengthByQuota | async }} characters
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-right" style="margin-top: 10px">
          <button
            (click)="publish()"
            class="btn btn-primary btn-lg border rounded-pill"
            type="button"
          >
            Publish
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Oops</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ errorText }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
