<div *ngIf="isDataLoaded">
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
      <a class="navbar-brand" routerLink="/">AlgorithmD</a>
      <button
        class="navbar-toggler"
        data-target="#navcol-1"
        data-toggle="collapse"
      >
        <span class="sr-only">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="auth.user$ | async" class="nav-item">
            <a class="nav-link" href="#" routerLink="/my">My saves</a>
          </li>
          <!--          <li class="nav-item"><a class="nav-link" routerLink="#">Second Item</a></li>-->
          <!--          <li class="nav-item dropdown"><a aria-expanded="false" class="dropdown-toggle nav-link"-->
          <!--                                           data-toggle="dropdown" href="#">Dropdown </a>-->
          <!--            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item"-->
          <!--                                                                                          href="#">Second-->
          <!--              Item</a><a class="dropdown-item" href="#">Third Item</a></div>-->
          <!--          </li>-->
        </ul>
        <span class="navbar-text actions">
          <div *ngIf="auth.user$ | async; then loggedIn; else loggedOut"></div>
          <ng-template #loggedIn>
            <div class="collapse navbar-collapse" id="navbar-list-4">
              <ul *ngIf="auth.user$ | async as user" class="navbar-nav">
                <li class="nav-item dropdown">
                  <a
                    aria-expanded="false"
                    aria-haspopup="true"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                  >
                    <img
                      [src]="user.picture"
                      class="rounded-circle unselectable"
                      height="30"
                      width="30"
                    />
                  </a>
                  <div
                    aria-labelledby="navbarDropdownMenuLink"
                    class="dropdown-menu"
                  >
                    <p class="dropdown-item-text">{{ user.name }}</p>
                    <!--                  <a class="dropdown-item" href="#">Saved algorithms</a>-->
                    <!--                  <a class="dropdown-item" href="#">Edit Profile</a>-->
                    <a (click)="auth.logout()" class="dropdown-item">Log Out</a>
                  </div>
                </li>
              </ul>
            </div>
          </ng-template>
          <ng-template #loggedOut>
            <a
              (click)="auth.loginWithRedirect()"
              class="btn btn-light action-button"
              role="button"
              >Sign In</a
            >
          </ng-template>
        </span>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class="footer-basic my-footer">
    <div class="social">
      <a href="https://github.com/waleko/algorithmd"
        ><i class="icon ion-social-github"></i></a
      ><a href="mailto:a.kovrigin0@gmail.com"
        ><i class="icon ion-android-mail"></i></a
      ><a href="https://twitter.com/_waleko"
        ><i class="icon ion-social-twitter"></i></a
      ><a href="https://t.me/waleko"><i class="fab fa-telegram-plane"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/" target="_parent">Home</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Alexander Kovrigin © {{ year }}</p>
  </footer>
</div>
