/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "assets/css/Navigation-with-Button.css";
@import "assets/css/Navigation-Clean.css";
@import "assets/css/Footer-Basic.css";

@import "https://fonts.googleapis.com/css?family=JetBrains+Mono";
@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "assets/fonts/fontawesome-all.min.css";
@import "assets/fonts/ionicons.min.css";
@import "assets/css/styles.css";

body {background: #f4f4f4}

.footer-basic a {
    color: #4b4c4d !important;
    text-decoration: none;
    opacity: 0.8;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
}
.my-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 190px;
}
