<div class="container" style="margin-top: 3em;">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-11 col-md-10 col-lg-9 col-xl-7"><img alt="404"
                                                                   src="assets/img/undraw_page_not_found_su7k.svg" style="width: 100%;"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12" style="margin-top: 20px;">
      <p class="text-center" style="font-size: 28px;font-family: Montserrat, sans-serif;"><strong>We couldn't find the
        page you were looking for</strong></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 text-center" style="margin-top: 20px;"><a class="btn btn-primary btn-lg border rounded"
                                                                    role="button" routerLink="/">Take me home</a></div>
  </div>
</div>

